table {
    border-collapse: collapse;
}
th, td {
    border-bottom: 1px solid #ccc;
    padding: 12px;
  }
tr:hover {
    background: #eee;
    padding: 8px;
}
button, img{
    cursor:pointer
}
.container {
    margin: 64px;
    display:flex;
    gap: 160px;
}
input, select, button {
    display: block;
    margin-bottom: 16px;
    padding: 4px 8px;
    border-radius: 4px;
}


